html {
    height: 100%;
    width: 100%;
}

body {
    background-image:
        url('https://github.com/JadeGrey/JadeGrey.github.io/blob/main/assets/bkg.jpg?raw=true');
}

.click-element {
    padding: 1rem;
}

.click-element input {
    width: 30vw;
    height: 30vh;
}

.upgrades-container {
    position: fixed;
    top: 30%;
    right: 1%;
    right: 1vw;
    width: 25%;
    width: 25vw;
    height: 50%;
    height: 50vh;
    max-height: 60%;
    max-height: 60vh;
    padding: 2rem;
    border: 1rem;
    border-style: double;
    border-color: black;
    overflow-y: scroll;
}

.upgrades-container div {
    max-height: 15%;
    border: 0;
    border-bottom: 0.3vw;
    border-style: solid;
    border-color: black;
    margin: auto;
}

.upgrades-container div:last-child {
    border-bottom: 0;
}

.upgrades-container p {
    font-size: 15px;
    font-size: 2vw;
}

.options-tab {
    position: fixed;
    top: 3%;
    right: 1%;
    width: 33.34%;
    height: 20%;
    border: 1rem;
    border-style: solid;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: between;
}

.options input {
    margin: 0.43rem;

}

.options-header {
    text-align: center;
    font-size: 3.33vh;
    margin: auto;
    padding: 0.2rem;
    border: 0;
    border-bottom: 0.4rem;
    border-style: solid;
    border-color: black;
}