html {
    height: 100%;
    width: 100%;
  }

.upgrades-container {
    padding: 2rem;
}

.upgrade-element {
    border: 1rem;
    border-color: black;
    margin: auto;
}

.btn-menu {
    padding: 1rem;
}